body {
  font-size: 16px;
  background-image: url("https://yt3.ggpht.com/-_IXzYFNWU8U/AAAAAAAAAAI/AAAAAAAAAAA/6tXWVmD0E64/s900-c-k-no-mo-rj-c0xffffff/photo.jpg");
}

.border {
  border: 3px solid black;
  padding-bottom: 30px;
}
